.db-cont {
  z-index: -1;
  margin-top: 5vh;
  display: flex;
  position: absolute;
  height: 95vh;
  width: 100vw;
  .content-cont {
    width: 49vw;
    margin: 0.5vw 0.5vw 0 0.5vw;
    .infoCard {
      display: flex;
      padding-bottom: 0.5vw;
      img {
        width: 75%;
        height: 75%;
      }
      .info-cont {
        padding-left: 1vh;
        width: 25%;
        background-color: white;
        .info-titles {
          font-weight: 400;//remove line breaks, define margins in vw
          font-size: 1.2vw;
        }
        p {
          font-weight: 300;
          font-size: 1vw;
        }
      }
    }
  }
  .sidebar {
    position: fixed;
    right: 0;
    height: 100%;
    width: 49.5vw;
    background-color: white;
    padding-bottom: 0.5vw;
    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
    overflow-y: scroll;
    .gmap-cont {
      height: 50vh;
      margin: 2vh;
      background-color: lightblue;
    }
    .suggests-cont {
      width: 48.5vw;
      margin: 0 0.5vw;
      display: flex;
      flex-direction: column;
      align-content: center;
      .suggestion {
        margin: 0 auto;
        position: relative;
        font-size: 3vh;
        font-weight: 300;
        height: 3.5vh;
        font-style: italic;
        margin-bottom: 5vh;
      }
      .circle-row {
        position: relative;
        width: 98%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .circle {
        position: relative;
        display: flex;
        align-items: center;
        height: 27vh;
        width: 27vh;
        border-radius: 15vh;
        background-color: pink;
        .centering-div {
          margin: 0 auto;
          .place-to-go {
            font-weight: 400;
            font-size: 1.7vh;
            display: flex;

          }
        }
      }
    }
  }
}

