@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,900');

html, body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Montserrat;
  margin: 0px;
  padding: 0;
  .us-cont {
    display: flex;
    flex-direction: row;
    height: 4vh;
    h1 {
      position: fixed;
      margin: 5px;
      font-weight: 900;
      font-size: 3.25vh;
    }
    .ps-cont {
      position: fixed;
      right: 100px;
      input {
        background-color: lightgrey;
        border: none;
        font-weight: 100;
        font-size: 2.5vh;
        margin: 0.75vh;
        border-radius: 20px;
        padding: 0 15px;
        &::placeholder {
          font-weight: 100;
          opacity: 0.5;
        }
      }
    }
  }
  .ms-cont {
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    .tr-cont {
      flex: 1;
      display: flex;
      margin-bottom: 0;
    }
    .br-cont {
      flex: 1;
      display: flex;
      margin-top: 0;
    }
  }
  .ls-cont {
    height: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 45vh;
  padding: 4px;
  margin-bottom: 0;
  &:hover {
    .author-space {
      opacity: 0.5;
    }
    .palette-container {
      opacity: 1;
    }
  }
  .author-space {
    opacity: 0;
    transition: opacity 0.25s;
    background-color: #7d7d7d;
    border-radius: 0 0 5px 0;
    position: absolute;
    padding: 4px;
    .author-name {
      font-weight: 100;
      color: white;
      font-family: Montserrat;
    }
  }
  .the-goods {
    height: 100%;
  }
  .palette-container {
    opacity: 0;
    transition: opacity 0.25s;
    position: relative;
    flex-direction: row;
    justify-content: initial;
    margin-top: -130px;
    margin-left: 9px;
    .color {
      max-height: 25%;
      height: 30px;
      width: 30px;
    }
    .color-1 {
      background-color: #C12A32;
      border-radius: 5px 5px 0 0;
    }
    .color-2 {
      background-color: #7E4125;
    }
    .color-3 {
      background-color: #CF9B71;
    }
    .color-4 {
      background-color: #171311;
      border-radius: 0 0 5px 5px;
    }
  }
}

